.topnav{
    display: flex;
    position: sticky;
    top:0px;
    left:0px;
    height: 60px;
    /* overflow: hidden; */
    /* background-color: rgb(17, 17, 17); */
    background-color: transparent;
    z-index: 10;
}

.topnav .hamburger{
    display: flex;
    width: 160px;
    overflow: hidden;
    padding-top:5px ;
    padding-left: 20px;
}

.topnav #logo{
    position: relative;
    top:7px;
    left: 5px;
    font-size: 1.2rem;
    font-weight: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.searchContainer{
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 10px;

}

.searchBar{
    outline: none;
    border: none;
    width: 350px;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    top: -3px;
    background-color: rgb(39, 39, 39);
    border-radius:2px ;
    color: rgb(124, 124, 124);
}