.rightsidenav{
    width: 20rem;
    position: fixed;
    height: 60%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top:5px;
    right: 0;
    top:60px;
    z-index:0;
    transition: 0s;
    /* background-color: red; */
}

.rightsidenavCollapsed{
    display: block;
    position: relative;
    top:0px;
}