.searchPalette {
    background-color: rgb(18, 18, 18);
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 30%;
    max-height: 50%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    animation: dropDown 0.2s ease-out;
    overflow: hidden;

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

[data-theme="light"] .searchPalette {
    background-color: rgb(238, 238, 238);
}

@keyframes dropDown {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.searchBar{
    width: 100%;
    display: flex;
    top: 0;
    position: sticky;
    background-color: rgb(22, 22, 22);
    user-select: none;
    outline: none;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

[data-theme="light"] .searchBar {
    background-color: rgb(238, 238, 238);
}

.searchPaletteResults {
    width: 100%;
    padding: 10px;
    overflow-y: auto;
    text-align: left;
    flex: 1;
    max-height: calc(50vh - 60px);
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1600px) {
    .searchPalette {
        width: 65%;
        max-height: 100%;
        box-shadow: none;
    }
}

@media (max-width: 768px) {
    .searchPalette {
        width: 100%;
        top: 0px;
    }
    .searchPalette .searchBar{
        height: 60px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .searchPaletteResults{
        max-height: 100%;
        top: 60px;
    }
}



.palletteResult {
    display: flex;
    align-items: center; 
    padding: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.2s;
    border-radius: 2px;
}

.palletteResult.highlighted, .palletteResult:hover{
    background-color: rgb(28, 28, 28);
}

[data-theme="light"] .palletteResult:hover, [data-theme="light"] .palletteResult.highlighted {
    background-color: rgb(219, 218, 218);
}

.palletteResult.highlighted::after{
    content: "";
}



.palletteResult img {
    width: 25px;
    height: 25px;
    user-select: none;
    pointer-events: none;
}

.palletteResult p{
    margin: 0;
    padding: 0;
    font-size:15px;
    color: var(--text-color);
    margin-left: 10px;
    text-align: left;
}