.sidenav{
    width: 15rem;
    position: fixed; 
    top: 0; 
    left: 0;
    height: 100vh;
    margin-top: 60px; 
    overflow: hidden;
    text-align: center;
    padding-top: 5px;
    z-index: 10;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.sidenavCollapsed {
    /* width: 90px; */
    width: 5.5rem;
    padding:10px 5px;
    transition: ease-in-out 0.3s;
}

.sidenav .sidenavLink {
    position: relative;
    width: 95%;
    height: auto;
    padding: 10px;
    color: white;
    display: flex;
    margin-bottom: 5px;
    border-radius: 100px;
    transition: 0.1s ease-in;
    transition: 0.2s ease;


    margin-left: auto;
    margin-right: auto;

}

.sidenavCollapsed .sidenavLink {
    position: relative;
    width: 90%;
    height: 70px;
    /* padding: 10px; */
    padding: 0px;
    margin:0px;
    color: var(--text-color);
    display: block;
    margin-bottom: 5px;
    border-radius: 20px;


    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center ;
}



@media (max-width: 1500px) {
    .sidenav {
        position: fixed;
        display: block;
        height: 100%;
        z-index: 2;
        animation: slideIn 0.2s forwards;

    }
    .sidenavCollapsed {
        /* background-color: transparent; */
        animation: none;
        transition: 0s ease;
    }
}


/** css window width condtional css */
/* @media (max-width: 768px) { */
@media (max-width: 1200px) {
    .sidenav{
        background-color: var(--elevated-color);

    }
    .sidenavCollapsing{
        animation: slideOut 0.2s forwards;
    }
    .sidenavCollapsed {
        display: none;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0%);
    }
    100% {
        
        transform: translateX(-100%);
    }
}

.sidenav .sidenavLink:hover{
    background-color: var(--elevation-color);
    cursor: pointer;
}


.sidenavCollapsed .sidenavLink:hover{
    background-color: transparent;
    cursor: pointer;
}



.sidenav .sidenavLink p{
    font-size: 12px;
    font-weight: 600;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin-top: 5px;
    margin-left: 15px;
}

.sidenavCollapsed .sidenavLink p{
    font-size: 11px;
    font-weight: 600;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
}
  
.sidenav .active{
    background-color: var(--elevated-color);
}

.sidenav .active:hover{
    background-color: var(--elevated-color);
}

.sidenav .active p{
    color: var(--text-color);
}

.sidenavCollapsed .active{
    background-color: transparent;
}

.sidenavCollapsed .active:hover{
    background-color: transparent;
}

  
.sidenav .sidenavLink .sidenavLinkSymbol{ 
    width: 30px;
    height: auto;
    position: relative;
    height: auto;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;    
    transition: 0.2s ease-in;
}




.sidenav .sidenavLink i{
    top:0px;
    left:5px;
    font-size: 25px;
}

.sidenav .sidenavLink img{
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    top:0px;
    left:-1px;
    width: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.sidenavCollapsed .sidenavLink .sidenavLinkSymbol{ 
    position: relative;
    height: auto;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    padding: 5px;
    border-radius: 100px;
    margin-bottom: -10px;
    margin-left: -10px;
}

[data-theme="light"] .sidenavLinkSymbol img{ 
    filter: invert(1);
}

.sidenavCollapsed .active .sidenavLinkSymbol{
    color: var(--text-color);
    /* background-color: rgb(53, 53, 53); */
    background-color: var(--elevated-color);

    width: 100%;
    padding: 5px;
    border-radius: 100px;

}

.sidenavCollapsed .sidenavLink:hover 
    .sidenavLinkSymbol{
    /* background-color: var(--surface-container-highest); */
    /* background-color: rgb(53, 53, 53, 0.8); */
    background-color: var(--elevated-color);

    cursor: pointer;
}

.sidenavCollapsed .active:hover .sidenavLinkSymbol{
    /* background-color: rgb(53, 53, 53); */
    background-color: var(--elevated-color);
    cursor: pointer;
}