.topnav{
    display: flex;
    position: sticky;
    top:0px;
    left:0px;
    height: 60px;
    z-index: 10;
    transition: 0.1s ease-in-out;
}

.solidnav{
    display: flex;
    position: sticky;
    top:0px;
    left:0px;
    height: 60px;
    z-index: 10;
    background-color:rgb(7, 7, 7, 0.82);
    backdrop-filter: blur(30px);
    transition: 0.1s ease-in-out;
}

@media (max-width: 768px) {
    .solidnav{
        background-color:rgb(7, 7, 7);
        backdrop-filter: none;
        transition: 0.1s ease-in-out;
    }
}

.topnav .hamburger{
    display: flex;
    /* width: 160px; */
    width: 260px;
    height: 100%;
    overflow: show;
    padding-top:5px ;
    padding-right: 10px;
    padding-left: 10px;
    /* background-color: rgb(154, 82, 82); */
}

.topnav .fries{
    display: flex;
    /* width: 160px; */
    width: 260px;
    height: 100%;
    overflow: show;
    padding-top:5px ;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
    justify-content: flex-end;
    align-items: right;

    right:0px;
}

.topnav .hamburger .hamburgerBtn{
    color: white;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding-top: 5px;
    padding-left: 0px;
    transition: 0.2s ease-in-out;
    margin-top: 5px;
    margin-left: 5px;
}

.topnav .hamburger .hamburgerBtn:hover{
    background-color: rgb(39, 39, 39);
    transition: 0.2s ease-in-out;
}

.topnav #logo{
    position: relative;
    top:10px;
    left: 5px;
    font-size: 1.2rem;
    font-weight: 10px;

    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; */
    font-family: ingame;
    font-size: 1rem;
    top:12.5px;

    transition: 0.2s ease-in-out;
}

.topnav #logo span{
    font-size: 10px;
    font-weight: 100;
    position: relative;
    top: -2px;
    color: black;
    background-color: var(--ingame-primary-color);
    padding: 2px 4px;
    border-radius: 4px;
}

.topnav a{
    height: 40px;
    padding-right: 10px;
    transition: 0.2s ease-in-out;
}

.searchContainer{
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:60%;
    padding: 10px;
    /* background-color: red; */
}

.searchBar{
    outline: none;
    border: none;
    width: 350px;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    top: -3px;
    background-color: rgb(39, 39, 39);
    border-radius:2px ;
    color: rgb(230, 230, 230);
}

.searchBar::placeholder{
    color: rgb(124, 124, 124);
}

.mobileOnly{
    display: none;
}

@media (max-width: 768px) { 
    .searchContainer { 
        display: none; 
    } 

    .searchContainer .searchBar{
        display: none;
    }

    .topnav .hamburger{
        display: flex;
        width: 100%;
    }

    .topnav .fries{
        display: flex;
        width: 60%;
    }
    .mobileOnly{
        display: block;
    }
}

