.topnav{
    display: flex;
    position: sticky;
    top:0px;
    left:0px;
    height: 60px;
    z-index: 10;
    transition: 0.1s ease-in-out;
}

.solidnav{
    display: flex;
    position: sticky;
    top:0px;
    left:0px;
    height: 60px;
    z-index: 10;
    background-color:rgb(7, 7, 7, 0.82);
    backdrop-filter: blur(30px);
    transition: 0.1s ease-in-out;
}

[data-theme="light"] .solidnav {
  background-color: rgba(255, 255, 255, 0.82);
  backdrop-filter: blur(30px);
}


@media (max-width: 768px) {
    .solidnav{
        background-color:rgb(7, 7, 7);
        backdrop-filter: none;
        transition: 0.1s ease-in-out;
    }
}

.topnav .topnavLeft{
    display: flex;
    /* width: 160px; */
    width: 25%;
    height: 100%;
    overflow: show;

}

.hamburgerContainer{
    display: flex;
    align-items: center;
    gap: 2px;
    position: relative;
    top: -7px;
    text-align: left;
    margin-left: 0px;

    padding-top:5px ;
    padding-right: 10px;
    padding-left: 10px;
}

.topnav .fries{
    display: flex;
    /* width: 160px; */
    width: 25%;
    height: 100%;
    overflow: show;
    padding-top:5px ;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
    justify-content: flex-end;
    align-items: right;

    right:0px;
}



.topnav .topnavLeft .hamburgerBtn{
    border: none;
    padding-left: 0px;
    margin-top: 5px;
    margin-left: 0.8rem;
}


.topnav #logo{
    position: relative;
    left: 5px;
    font-size: 1.2rem;
    font-weight: 10px;

    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; */
    font-family: ingame;
    font-size: 1rem;
    top:11px;

    transition: 0.2s ease-in-out;
}

.topnav #logo span{
    font-size: 10px;
    font-weight: 100;
    position: relative;
    top: -2px;
    color: black ;
    background-color: var(--ingame-primary-color);
    padding: 2px 4px;
    border-radius: 4px;
    font-family: ingame;
}

.topnav a{
    height: 40px;
    padding-right: 10px;
    transition: 0.2s ease-in-out;
}

.searchContainer{
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:60%;
    padding: 10px;
    /* background-color: red; */
}

.searchBar{
    outline: none;
    border: none;
    width: 350px;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    top: -3px;
    background-color: rgb(53, 53, 53, 0.6);
    border-radius: 3px;
    color: var(--text-color);
}

.solidnav .searchBar{
    background-color: rgb(53, 53, 53, 0.8);
}

[data-theme="light"] .searchBar {
    background-color: rgba(219, 218, 218, 0.6);
}

[data-theme="light"] .solidnav .searchBar {
    background-color: rgb(255, 255, 255, 0.8);
}

.searchBar::placeholder{
    color: rgb(124, 124, 124);
}


.mobileOnly{
    display: none;
}

@media (max-width: 1200px) { 
    .topnav .topnavLeft{
        padding-left: 0px;
        width: 50%;
    }

    .hamburgerContainer{
        padding-left: 0px;
    }

    .topnav .fries{
        width: 50%;
    }

    .searchContainer { 
        display: none; 
    } 
    .mobileOnly{
        display: block;
    }
}

@media (max-width: 768px) { 
    .searchContainer { 
        display: none; 
    } 

    .searchContainer .searchBar{
        display: none;
    }

    .topnav .topnavLeft{
        display: block;
        width: 100%;
    }

    .topnav .fries{
        display: flex;
        width: 40%;
    }
    .mobileOnly{
        display: block;
    }
}

.userDropdownContainer {
    margin-top: 5px;
    margin-left: 8px;
}

.userAvatar {
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    padding: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none; /* For Chrome/Safari */
    user-drag: none; /* For Firefox */
}

.dropdownMenu {
    position: absolute;
    right: 0;
    margin-top: 8px;
    width: 12rem;
    background-color: #0e0e0e;
    border-radius: 6px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 4px 0;
    z-index: 10;
    transform-origin: top;
    transition: all 200ms ease-in-out;
}

[data-theme="light"] .dropdownMenu {
    background-color: #f1f1f1;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  

[data-theme="dark"] .dropdownMenu {
    background-color: #0e0e0e;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  


.dropdownMenuHidden {
    composes: dropdownMenu;
    opacity: 0;
    transform: scaleY(0);
    pointer-events: none;
}

.dropdownMenuItem {
    display: block;
    width: 100%;
    text-align: left;
    padding: 8px 16px;
    font-size: 14px;
}

.dropdownMenuItem:hover {
    background-color: #4747477c;
}

[data-theme="light"] .dropdownMenuItem:hover {
    background-color: #dedede7c;
}

[data-theme="dark"] .dropdownMenuItem:hover {
    background-color: #4747477c;
}


.dropdownMenuIcon {
    font-size: 16px;
}



.dropdownMenuItemContent {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dropdownOverlay {
    position: fixed;
    inset: 0;
    z-index: -1;
}


.breadcrumbContainer{
    display: flex;
    align-items: center;
    gap: 2px;
    position: relative;
    top: -2px;
    text-align: left;
    left: -10px;
}

.breadcrumb{
    font-size: 10px;
    color: var(--text-color);
    border-radius: 100px;
    text-decoration: none;
    cursor: pointer;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    position: relative;
    top: 8px;
    margin-left: auto;
    padding: 5px 10px;
}

.highlightedBreadcrumb{
    background-color: var(--light-elevated-color);
    color: var(--primary-color);
}

.highlightedBreadcrumb :hover {
    background-color: var(--light-elevated-color);
    color: var(--text-color); /* Use the variable for text color instead of hardcoding black */
}



@media (max-width: 768px) { 
    .breadcrumbContainer{
        /* display: none; */
        position: relative;
        top: -25px;
        left: 50px;

        pointer-events: none;
        z-index: -1;

    }
    
}