.settingsWrapper {
    /* width: 50%;
    margin: 0 auto;
    text-align: left; */
    padding-left: 25%;
    padding-right: 25%;
    margin: 0 auto;
    text-align: left;
    font-family: var(--ingame);
}

@media (max-width: 768px) {
    .settingsWrapper {
        padding-left: 1%;
        padding-right: 1%;
    }
}

.settingsTitle {
    font-size: 1.5rem;
    font-weight: 200;
    position: relative;
    top: 2px;
    font-family: ingame;
}



.settingsContent {
    background-color: #141414;
    padding:1.2rem 1.5rem;
    border-radius: 5px;
    margin-bottom: 1rem;

}

[data-theme="light"] .settingsContent {
    background-color: #eaeaea;
}

.settingsContent h1 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}