.homePageContainer{
    width: auto;
    background-color: red;

    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bentoBoxContainer{
    width: 100%;
    height: 100%;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.wishBento{
    width: 100%;
    height: 100%;
    background-color: green;
}
