.loginContainer {
    width: 50%;
    margin: auto;
    margin-top: 35vh;
    transform: translateY(-50%);
}

.loginWrapper {
    width: 100%;
    margin: auto;
    padding: 20px;
    border: 1px solid var(--outline-color);
    overflow: hidden;
    border-radius: 2px;
}

@media (max-width: 768px) {
    .loginWrapper {
        width: 90%;
    }
}


.loginMessage{
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    margin-bottom: 10px;
    font-size: 13px;
    background-color: var(--elevated-color);

}

.loginButton {
    width: 100%;
    background-color: rgb(59, 130, 246); /* bg-blue-500 */
    padding: 0.5rem; /* p-2 */
    border-radius: 5px; /* rounded-md */
    display: flex;
    flex-direction: row;
    gap: 0.5rem; /* gap-2 */
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}
