@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://m3.material.io/styles/color/system/overview */

:root {
  --ingame-primary-color: #E7C073;
}

/* [data-theme="dark"] { */ :root {
/* /#FFD52A */
  --ingame-primary-color: #E7C073;
  --primary-color: var(--ingame-primary-color);

  --background-color: #070707;
  --elevated-color: #2d2d2d;
  --light-elevated-color: #1b1b1b;
  --outline-color: #262626;

  --text-color: #ececec;
  --dim-text-color: #d1d1d1;
  --gray-text-color: #878787;
  --invert-text-color: #191919;
}

[data-theme="light"] {
  --ingame-primary-color: #E7C073;
  --primary-color: var(--ingame-primary-color); 

  --background-color: #f1f1f1;
  --elevated-color: #e7e6e6;
  --light-elevated-color: #ecebeb;
  --outline-color: #e3e3e3;

  --text-color: #191919;
  --dim-text-color: #2c2c2c;
  --gray-text-color: #494949;
  --invert-text-color: #ececec;
}


::selection { 
  background-color: var(--primary-color); 
  color: var(--primary-text-color);
}

@font-face {
  font-family: 'ingame';
  src: url('../../public/fonts/HanyiWenHei/zh-cn.ttf')
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url('../../public/fonts/MaterialIcons/material_icons.woff2') format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-symbols-outlined-filled {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


/* fallback */
@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 100 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolsrounded/v222/sykg-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190Fjzag.woff2) format('woff2');
}

.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

* {
  color: var(--text-color);
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

body {
  font-family: 'CustomFont', sans-serif;
}

button .ripple {
  animation: ripple 0.5s linear;
}

@keyframes ripple {
  to {
      transform: scale(2.5);
      opacity: 0;
  }
}

body{
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-y: scroll;
  overflow-x:hidden;

}




.pageContentContainer{
  position: relative;
  width: 100%;
  /* padding-left: 25rem;
  padding-right: 25rem; */
  padding-left: 20%;
  padding-right: 20%;
  overflow-y: hidden;
  overflow-x:hidden;
  top: -60px;
  padding-top: 60px;
  min-height: 90vh;


  background-color: transparent;


}


@media all and (max-width: 1800px) {  
  .pageContentContainer{
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@media all and (max-width: 1200px) {  
  .pageContentContainer{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}




/* .active button{
  background-color: #00DC82;
}

.active p{
  color: #96ffd3;
} */

.bg-1-star{
  background-image: linear-gradient(to bottom, rgb(140, 140, 140, 0.5), rgb(102, 102, 102, 0.5)),
  url('../../public/imgs/bg/1-star.png');
}

.bg-2-star{
  background-image: linear-gradient(to bottom, rgb(75, 154, 113, 0.5), rgb(67, 120, 93, 0.5)),
  url('../../public/imgs/bg/2-star.png');
}

.bg-3-star{
  background-image: linear-gradient(to bottom, rgb(64, 157, 213, 0.5), rgb(58, 110, 140, 0.5)),
  url('../../public/imgs/bg/3-star.png');
}

.bg-4-star{
  background-image: linear-gradient(to top, rgb(149, 112, 203, 0.5), rgb(106, 86, 136, 0.5)),
  url('../../public/imgs/bg/4-star.png');
}

.bg-5-star{
  background-image: linear-gradient(to top, rgba(220, 142, 73, 0.5), rgba(144, 101, 65, 0.5)),
  url('../../public/imgs/bg/5-star.png');
}

.bg-5-5-star{
  background-image: linear-gradient(to top, rgb(149, 112, 203, 0.5), rgb(106, 86, 136, 0.5)),
  url('../../public/imgs/bg/55-star.png');
}


::-webkit-scrollbar {
  width: 10px;
  transition: ease-in-out 0.2s;

}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.377); 
  transition: ease-in-out 0.2s;

}


[data-theme="light"] {
  ::-webkit-scrollbar-track {
    background: rgb(245, 245, 245); 
  }
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(46, 46, 46); 
  border-radius: 200px;
  transition: ease-in-out 0.2s;

}

[data-theme="light"] {
  ::-webkit-scrollbar-thumb {
    background: rgb(199, 199, 199); 
    border-radius: 200px;
    transition: ease-in-out 0.2s;
  }
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(68, 68, 68); 
  transition: ease-in-out 0.2s;
}

::-webkit-scrollbar-corner { display: none; }

[data-theme="light"] {
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(180, 180, 180);
  }
}


/* 
* {
  scrollbar-width: 10px;
  scrollbar-color: gray transparent;
}

*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: red;
}

*::-webkit-scrollbar-track:hover {
  background-color: red;
}

*::-webkit-scrollbar-track:active {
  background-color: red;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #397524;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #62A34B;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #62A34B;
} */



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
