.articleCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--light-elevated-color);
    padding: 10px 15px;
    border-radius: 10px;
    transition: all 0.3s ease;
    width: 350px;
    /* height: 120px; */
    height: auto;
    justify-content: center;
    border: 1px solid var(--outline-color);
    text-align: left;
}

.articleHeader {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
    border-radius: 10px;
    background-size: 200% 200%;
    animation: gradientMove 5s ease infinite;
}




.articleCard h1 {
    font-size: 1.2rem;
    font-weight: 600;
}

.articleCard p {
    font-size: 0.8rem;
    font-weight: 400;
}



.articleCard:hover {
    background-color: var(--elevated-color);
}
