@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ingame';
  src: url('../fonts/HanyiWenHei/zh-cn.ttf')
}

body {
  font-family: 'CustomFont', sans-serif;
}


button .ripple {

  animation: ripple 0.5s linear;
}

@keyframes ripple {
  to {
      transform: scale(2.5);
      opacity: 0;
  }
}


body{
  background-color: #070707;
  color:rgb(224, 224, 224);
  overflow: auto;
  overflow-x:hidden;
}

nav{
  position: sticky;
  top:0px;
}

.wrapper{
  width:100%;
  height: calc(100vh - 60px);
  overflow-y: hidden;
  display: flex;
  overflow: hidden;
}


#content{
  position: relative;
  top:0px;
  width: 100%;
  padding-left: 10rem;
  padding-right: 10rem;
  overflow-y: auto;
  overflow-x:hidden;
}

@media all and (max-width: 1200px) {  
  #content{
    padding-left: 1rem;
    padding-right: 1rem;
  }

}

.active button{
  background-color: #00DC82;
}

.active p{
  color: #96ffd3;
}


.bg-4-star{
  background-image: linear-gradient(to top, rgb(149, 112, 203, 0.5), rgb(106, 86, 136, 0.5)),
  url('../assets/bg/4-star.png');
}

.bg-5-star{
  background-image: linear-gradient(to top, rgba(220, 142, 73, 0.5), rgba(144, 101, 65, 0.5)),
  url('../assets/bg/5-star.png');
}