.calculatorContainer{
    display:flex;
    flex-direction: row;
}

.panel{
    display:block;
    border: 1px solid #484848;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.characterSpecPanel {
    display:block;
}


.fluidStatsPanel {
    display:block;
}

.totalStatsPanel {
    display:block;
}

.rotationSpecPanel {        
    display:block;
}

.artifactSubsPanel {
    display:block;
}

