.stattable {
    background-color: #121212;
    color: #d0d0d0;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    white-space: nowrap; /* Prevent text wrapping for header */
    overflow-x: auto; /* Allow horizontal overflow */
    border-radius: 5px;
    width: auto;

}

.stattable table {
    width: 100%;
}

/**
    scrollwheel for table
*/

.stattable::-webkit-scrollbar {
    max-height: 10px;

}

.stattable thead th {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 14px 16px;
    border-bottom: 2px solid #1a1a1a;
    text-align: left;   
}

.stattable tbody tr {
    transition: background-color 0.15s ease-in-out;
}

.stattable tbody tr:nth-child(odd) {
    background-color: #161616;
}

.stattable tbody tr:nth-child(even) {
    background-color: #1c1c1c;
}

.stattable tbody tr:hover {
    background-color: #191919;
}

.stattable tbody td {
    padding: 14px 16px;
    border-bottom: 1px solid #1a1a1a;
    font-size: 14px;
    text-align: left;
     /* Allow text wrapping for body cells */
}

.stattable tbody tr:last-child tr {
    border-bottom: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.font-bold {
    font-weight: 700;
}
